* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.grid-footer {

    --rows: 12;
    --cols: 17;
    --height: calc(100vmin - 70px - 72px - 35px);

    
    width: calc(var(--cols) / var(--rows) * var(--height));
}

.grid-container {

    --rows: 12;
    --cols: 17;
    --height: calc(100vmin - 70px - 72px - 35px);
    --spacing: 11;
    --percent-unit: 1%;

    display: grid;

    margin: 0;
    
    width: calc(var(--cols) / var(--rows) * var(--height));
    height: var(--height);
    
    grid-template-rows: repeat(var(--rows), calc((100 - var(--spacing)) / var(--rows) * var(--percent-unit)));
    grid-template-columns: repeat(var(--cols), calc((100 - var(--spacing)) / var(--cols) * var(--percent-unit)));
    row-gap: calc(var(--spacing) / (var(--rows) - 1) * var(--percent-unit));
    column-gap: calc(var(--spacing) / (var(--cols) - 1) * var(--percent-unit));
}

.grid-item {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 6px;
    transition: background-color 0.5s;
    transition-timing-function: cubic-bezier(0, 0, .08, 1);
}

.grid-item:hover {
    cursor: pointer;
    border-color: black;
}

.grid-item--active-primary {
    background-color: rgba(255, 120, 58, 0.425);
    transition: background-color 0s;
}

.grid-item--active-secondary {
    background-color: royalblue;
    transition: background-color 0s;
}

.grid-item--active-full {
    border-radius: 5px;
    border-color: rgb(255, 208, 0);
    border-width: 3px;
    border-style: solid;
}

