p { font-family: Inconsolata; }

h1 { font-family: Inconsolata; }
h2 { font-family: Inconsolata; }
h3 { font-family: Inconsolata; }

a { color: darkgray }

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 600px;
    border: 1px solid #888;
}

button {
    background-color: transparent;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 32px;
    font-family: Inconsolata;
}

button:hover {
    background-color: black;
    border-color: transparent;
    color: white;
}

button:active {
    background-color: rgb(255, 208, 0);
}

button:focus {
    outline: 0;
}

.b-toggle-on {
    background-color: rgb(255, 208, 0);
}

input[type='range'] {
    -webkit-appearance: none;  /* Override default CSS styles */
    overflow: hidden;
    appearance: none;
    width: 200px; 
    height: 28px; 
    background-color: none;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 28px;
    background: black;
    box-shadow: -100px 0 0 100px rgba(255, 120, 58, 0.425);
    cursor: ew-resize;
    outline: none;
    border-radius: 0%;
    border-style: solid;
    border-width: 0px;
}
  
input[type='range']::-moz-range-thumb {
    width: 10px;
    height: 28px;
    background: black;
    box-shadow: -100px 0 0 100px rgba(255, 120, 58, 0.425);
    cursor: ew-resize;
    border-radius: 0%;
    border-style: solid;
    border-width: 0px;
    outline: none;
}


input[type="range"]::-moz-range-progress {
    background-color: rgba(255, 120, 58, 0.425); 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    width: 100%;
    border-radius: 0;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: transparent;
    height: 32px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Inconsolata;
    font-size: 16px;
}

textarea {
    border-radius: 0;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 500px;
}

textarea:focus {
    outline: 0;
}

select:hover {
    background-color: black;
    color: white;
}

select:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    border-radius: 0;
    border-color: black;
}

.select-wrapper {
    position: relative;
}
  
.select-wrapper::before {
    pointer-events: none;
    font-family: "Font Awesome 5 Free";
    content: "\25BC";
    font-size: 10px;
    position: absolute;
    right: 15px;
    top: 11px;
    color: inherit;
}
