p { font-family: Inconsolata; }

h1 { font-family: Inconsolata; }
h2 { font-family: Inconsolata; }
h3 { font-family: Inconsolata; }

a { color: darkgray }

button {
    background-color: transparent;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 32px;
    font-family: Inconsolata;
}

button:hover {
    background-color: black;
    border-color: transparent;
    color: white;
}

button:active {
    background-color: royalblue;
}

button:focus {
    outline: 0;
}

input[type='range'] {
    -webkit-appearance: none;  /* Override default CSS styles */
    overflow: hidden;
    appearance: none;
    width: 200px; 
    height: 28px; 
    background-color: none;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 28px;
    background: black;
    box-shadow: -100px 0 0 100px royalblue;
    cursor: ew-resize;
    outline: none;
    border-radius: 0%;
    border-style: solid;
    border-width: 0px;
}
  
input[type='range']::-moz-range-thumb {
    width: 10px;
    height: 28px;
    background: black;
    box-shadow: -100px 0 0 100px royalblue;
    cursor: ew-resize;
    border-radius: 0%;
    border-style: solid;
    border-width: 0px;
    outline: none;
}


input[type="range"]::-moz-range-progress {
    background-color: royalblue; 
}

/*input[type='range']::-webkit-slider-runnable-track {
    background-color: royalblue;
} */
/*
input[type='range']::-moz-range-track {
    background-color: royalblue;
} */

